<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <div class="input-group">
        <select id="teamSelect" class="form-select" #teamSelector>
          <option *ngFor="let team of teamList" [value]="team.id">
            {{ team.name }} - {{ team.abbreviation }}
          </option>
        </select>
        <button id="trackBtn" class="btn btn-primary" (click)="trackTeam(teamSelector.value)">Track Team</button>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div *ngFor="let team of trackedTeams" class="col-lg-6 col-md-12">
      <app-card [teamDetails]="team"></app-card>
    </div>
  </div>
</div>
